@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes growLine {
  from { height: 0; }
  to { height: calc(100% + 2rem); }
}

.animated-line {
  animation: growLine 1s ease-out forwards;
}